body {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
canvas {
    margin: auto;
    border-width: 0;
    display: block;
}